*{
	box-sizing:border-box;
}
img{ 
	height:295px;
	padding:0px;
	border-style: solid;
	border-width:thin;
	bottom-border:solid;
	border-color:lightgrey;
	margin:4px;
	padding: 20px;

	
}
li{
	list-style:none;
	margin:2px;
}
.octocat{
	float: left;
	border-bottom: solid;
	border-bottom-width:thin;
color: lightgrey;
margin:9px;
height: 335px;

}




.authors img{
	height: 20px;
	margin: 0px;
	padding:0px;
	border:0px;
	
	}

.authors{
float:right;
padding:0px;

}
.image-number{
	color: grey;
	
}
.image-caption{
	float:right;
color:black;
padding:0px;
font-size:13px;
font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif
}


}
.image-footer{
	border-bottom: solid;
border-bottom-width:thin;
color: lightgrey;


}

span.image-number:before{
	content: "#";
}
a{
	font-size:13px;
}

